
<div class="menu-navbar"
 data-action="scroll@window->category-highlight#colors">

  <%# <div class='intro-content'>
    <div id='categories' class='menu-categories'
      data-action="scroll@window->category-highlight#colors"> %>
      <h3
        id='cat-main' class="link-to-mains grid-item"
        data-controller="go"
        data-action="scroll@window->category-highlight#colors click->go#goToSection">
        MAIN COURSE
      </h3>
      <h3
        id='cat-snack' class="link-to-snacks grid-item"
        data-controller="go"
        data-action="scroll@window->category-highlight#colors click->go#goToSection">
        SNACKS
      </h3>
      <h3
        id='cat-dessert' class="link-to-desserts grid-item"
        data-controller="go"
        data-action="scroll@window->category-highlight#colors click->go#goToSection">
        DESSERTS
      </h3>
      <h3
        id='cat-set' class="link-to-sets grid-item"
        data-controller="go"
        data-action="scroll@window->category-highlight#colors click->go#goToSection">
        SET MEALS
      </h3>
      <h3
        id='cat-drink' class="link-to-drinks grid-item"
        data-controller="go"
        data-action="scroll@window->category-highlight#colors click->go#goToSection">
        DRINKS
      </h3>
    <%# </div>
  </div> %>
</div>
