<div id = "big-card-frame">
  <div id = "heading-holder">
    <div class = "thumbnail-holder navigation-button">
      <div class="thumbnail-image dot active first-dot" data-controller="modal-slideshow" data-action="click->modal-slideshow#changeImage"><img src="https://res.cloudinary.com/minquant/image/upload/v1/development/6t77uhhs2b8pp9oy7klg5gkg5cbu" alt=""></div>
      <div class="thumbnail-image dot second-dot" data-controller="modal-slideshow" data-action="click->modal-slideshow#changeImage"><img src="https://res.cloudinary.com/minquant/image/upload/v1/development/yk5tjw6b2siywwtosupt2rrr0sjl" alt=""></div>
      <div class="thumbnail-image dot third-dot" data-controller="modal-slideshow" data-action="click->modal-slideshow#changeImage"><img src="https://res.cloudinary.com/minquant/image/upload/v1/development/t8chbw04t8latx07zmncezbb04a5" alt=""></div>
      <div class="thumbnail-image dot fourth-dot" data-controller="modal-slideshow" data-action="click->modal-slideshow#changeImage"><img src="https://res.cloudinary.com/minquant/image/upload/v1/development/pxqibgn84nfm02h60asofl53quo9" alt=""></div>
    </div>
    <div id = "big-name-price">
      <h3>PUT NAME HERE</h3>
      <h3>¥PUT PRICE HERE</h3>
    </div>
  </div>
  <div id = "content-holder">
    <div id="big-card-main-image">
      <div class = "shadow slider">
        <img src="https://res.cloudinary.com/minquant/image/upload/v1/development/6t77uhhs2b8pp9oy7klg5gkg5cbu" alt="">
        <img src="https://res.cloudinary.com/minquant/image/upload/v1/development/yk5tjw6b2siywwtosupt2rrr0sjl" alt="">
        <img src="https://res.cloudinary.com/minquant/image/upload/v1/development/t8chbw04t8latx07zmncezbb04a5" alt="">
        <img src="https://res.cloudinary.com/minquant/image/upload/v1/development/pxqibgn84nfm02h60asofl53quo9" alt="">
      </div>
    </div>
    <div id = "big-card-details">
      <div>
        <p>menu description</p>
      </div>
      <div>
        <p>menu advice</p>
      </div>
      <div id = "back-invitation">
        <div style="margin-top:20px">
        <p>BACK TO MENU</p>
        </div>
        <div id = "back-button">
          <img src="https://res.cloudinary.com/minquant/image/upload/v1/development/6t77uhhs2b8pp9oy7klg5gkg5cbu" alt="">
        </div>
      </div>
    </div>
  </div>
</div>
