  <%# div for enlarged menu card %>
  <%# card frame %>
  <div>

    <%# left side %>
    <div>
      <%# image selection %>
      <div>

        <% if menu_item.photos.attached? %>
        <% menu_item.photos.each do |photo| %>
          <div style="width:100px height:100px">
            <%= cl_image_tag(photo.key)%>
          </div>
        <% end %>

      </div>
      <%# big image %>
      <div id="big-card-main-image">
        <%=  %>
      </div>
    </div>

    <%# right side %>
    <div>
      <%# title %>
      <div>
      </div>
      <%# calories %>
      <div>
      </div>
      <%# description %>
      <div>
      </div>
      <%# back button %>
      <div>
      </div>
    </div>

  </div>
