<%= render 'navbar' %>
<div class="page-container" style="display:flex; gap:22px">

  <div style="padding:20p;width:50%">
    <h1 style="text-align:start; margin-top:0px">ABOUT</h1>
    <h3>Singapore to the World</h3>
    <p style="font-size:22px">
      South-East Asia is a region with incredible flavours and culinary diversity. However,
      while certain South-East Asian cuisines, such as Thai, have become popular globally,
      most have yet to truly break through to the wider world.
      Singaporean cuisine, with its Chinese, Malay, and Indian influences (amongst others),
      is one that we believe has the potential to excite food lovers all across the globe.
      At Sinkies, we hope to serve Singaporean food to the best of our abilities and help
      the cuisine gain greater recognition and appreciation.
    </p>
  </div>


    <div style="padding:20px;height:540px;width:50%;object-fit:contain">
      <%= image_tag("i_am_sinkie.png", style:"height:100%;width:100%") %>
    </div>

</div>
