<%= render 'navbar' %>
<div class="page-container">
  <h1 id="about-title">ABOUT</h1>
  <br>
  <br>
  <%# Singapore to the world %>
  <div class="content-image-container">
    <div class="about-content">
      <h3>
        Singapore to the World
      </h3>
      <p>
        The region that Singapore is situated in, South-East Asia, is home to incredible
        cuisines and flavours. While a few South East Asian cuisines, such as Thai, have
        become popular globally, others have yet to truly break through to the wider world.
        Singaporean cuisine, with its Chinese, Malay, and Indian influences (amongst others),
        is one that we believe has the potential to excite food lovers all across the globe.
        At Sinkies, we hope to serve Singaporean food to the best of our abilities and help
        the cuisine gain greater recognition and appreciation.
      </p>
    </div>
    <div class="about-image">
      <%= image_tag("i_am_sinkie.png") %>
    </div>
  </div>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <%# What we care about %>
  <div class="content-image-container">
    <div class="about-image">
      <%= image_tag("i_am_sinkie.png") %>
    </div>
    <div class="about-content">
      <h3>
        What We Care About
      </h3>
      <p>
        Restaurants mean many things to different people. They are venues where friends catch up,
        families spend time together, and couples make memories. They help people celebrate,
        cheer up after a horrible day, and become part of our weekly schedules.
        <br>
        <br>
        In order to meet the expectations and unique situation of every guest, we strive to welcome
        all parties with attentiveness, sincerity, and respect. We hope that you find the experience that you were
        looking for.
      </p>
    </div>
  </div>
</div>
