<%= render 'navbar' %>

<div class="page-container">

  <h1 class="page-header" style="margin-bottom:30px">Contact</h1>
  <div class="split-box">

    <%# content %>
    <div>

      <%# hours %>
      <div>
        <h3>Hours</h3>
        <div class="split-box">
          <p>Monday - Friday</p>
          <p>0900 - 2045</p>
        </div>
        <div class="split-box">
          <p>Saturday - Sunday</p>
          <p>0900 - 2100</p>
        </div>
      </div>

      <%# contact %>
      <div>
        <h3>Reach Us Here</h3>
        <div class="split-box">
          <p>Telephone</p>
          <p>0065 9351 8644</p>
        </div>
        <div class="split-box">
          <p>Email</p>
          <p>sinkies_rule_the_world@sinkies.com</p>
        </div>
      </div>


    </div>

    <%# image %>
    <div id="interactive-map">
      <%= image_tag('i_am_sinkie.png') %>
    </div>

  </div>

</div>
