<%= render 'navbar' %>

<div class="page-container" data-controller='map'>

<h1 class="page-header" style="margin-bottom:30px">Contact</h1>

  <div style="display:flex; justify-content:space-evenly">
    <div style="width:40%">
      <div>
        <h3>Hours</h3>
        <div class="split-box">
          <p>Monday - Friday</p>
          <p>0900 - 2045</p>
        </div>
        <div class="split-box">
          <p>Saturday - Sunday</p>
          <p>0900 - 2100</p>
        </div>
      </div>
      <br>
      <br>
      <br>
      <div>
        <h3>Reach Us Here</h3>
        <div class="split-box">
          <p>Telephone</p>
          <p>0065 9351 8644</p>
        </div>
        <div class="split-box">
          <p>Email</p>
          <p>sinkies_rule_the_world@sinkies.com</p>
        </div>
      </div>
    </div>

    <%# map %>
    <div id="map-holder">
      <div id="map">
      </div>
      <%= link_to("Get Directions", "https://maps.google.com/?q=1.376,103.946") %>
    </div>

  </div>
</div>


<script>
  (g=>{var h,a,k,p="The Google Maps JavaScript API",c="google",l="importLibrary",q="__ib__",m=document,b=window;b=b[c]||(b[c]={});var d=b.maps||(b.maps={}),r=new Set,e=new URLSearchParams,u=()=>h||(h=new Promise(async(f,n)=>{await (a=m.createElement("script"));e.set("libraries",[...r]+"");for(k in g)e.set(k.replace(/[A-Z]/g,t=>"_"+t[0].toLowerCase()),g[k]);e.set("callback",c+".maps."+q);a.src=`https://maps.${c}apis.com/maps/api/js?`+e;d[q]=f;a.onerror=()=>h=n(Error(p+" could not load."));a.nonce=m.querySelector("script[nonce]")?.nonce||"";m.head.append(a)}));d[l]?console.warn(p+" only loads once. Ignoring:",g):d[l]=(f,...n)=>r.add(f)&&u().then(()=>d[l](f,...n))})({
    key: "AIzaSyCKjDZv9GkPUHvqG0eN7C_JNmBgoZcmlkE",
    // Add other bootstrap parameters as needed, using camel case.
    // Use the 'v' parameter to indicate the version to load (alpha, beta, weekly, etc.)
  });
</script>
