<%= render 'navbar_home' %>

<div class="page-container" data-controller='map'>

<h1 class="page-header" style="margin-bottom:30px">Contact</h1>

  <div style="display:flex; justify-content:space-evenly">
    <div style="width:40%">
      <div>
        <h3>Hours</h3>
        <div class="split-box">
          <p>Monday - Friday</p>
          <p>0900 - 2045</p>
        </div>
        <div class="split-box">
          <p>Saturday - Sunday</p>
          <p>0900 - 2100</p>
        </div>
      </div>
      <br>
      <br>
      <br>
      <div>
        <h3>Reach Us Here</h3>
        <div class="split-box">
          <p>Telephone</p>
          <p>0065 9351 8644</p>
        </div>
        <div class="split-box">
          <p>Email</p>
          <p>sinkies_rule_the_world@sinkies.com</p>
        </div>
      </div>
    </div>

    <%# map %>
    <div id="map-holder">
      <div id="map">
      </div>
      <%= link_to("Get Directions", "https://maps.google.com/?q=1.376,103.946", target: :"_blank") %>
    </div>

  </div>
</div>


<script>

</script>
