<%= render "navbar" %>

<%# Menu page heading and item categories %>
<div class='page-intro'>

  <%# Page heading %>
  <div>
    <h1>MENU</h1>
  </div>

  <%# Menu categories %>
  <div>
    <div>
      <h3>CATEGORIES</h3>
    </div>
      <h3>MAIN COURSE</h3>
      <h3>SNACKS</h3>
      <h3>DESSERTS</h3>
      <h3>DRINKS</h3>
      <h3>SET MEALS</h3>
    <div>
    </div>
  </div>
</div>
