<%= render 'navbar' %>
<div class="page-container">
  <h1 class="page-header">PROMOTION</h1>

  <div style="display:flex; width:100%; justify-content:space-evenly">
    <div class="promotion-card">
      <div class="promotion-card-image"></div>
      <div class="promotion-card-details">
        <div>
          <h4 id="promo-title">20% OFF FOR VISITORS OF SINGAPORE</h4>
        </div>
        <div class="promo-description">
          <p>
            Suffering from food-withdrawal symptoms after leaving Singapore?
            Enjoy 10% off all Sinkies items using your boarding pass.
          </p>
        </div>
        <div>
          <ul>
            <li>Promotion valid only if dining date is within 14-days of arrival in Japan.</li>
            <li>Promotion valid for both dine-in and takeaway.</li>
            <li>Promotion is extended to all other diners seated at the eligible party’s table.</li>
          </ul>
        </div>
      </div>
    </div>

    <div class="promotion-card">
      <div class="promotion-card-image"></div>
      <div class="promotion-card-details"></div>
    </div>
  </div>


  <div style="display:flex; width:100%; justify-content:space-evenly">
    <div class="promotion-card">
      <div class="promotion-card-image"></div>
      <div class="promotion-card-details"></div>
    </div>

    <div class="promotion-card">
      <div class="promotion-card-image"></div>
      <div class="promotion-card-details"></div>
    </div>
  </div>

</div>
