// // greens
$background_green: #F5FFF5;

// // reds
$language_btn_red: #FFC8C8;
$logo_red: #FF0202;
$text_red: #910202;
$header_red: #640202;

// // to shade out background
$opacity_colour: #D9D9D9;
