// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
@import 'colors';


#home-background {
  height: 100vh;
  background-image: asset-url("sumatra_wallpaper_cropped.jpg");
  background-repeat: repeat;
  // background-size:cover;
}

.page-container {
  width: 92%;
  margin: auto;
  // margin-right: 60px;
  // margin-left: 60px;

  // .page-intro {
  //   width: 100%;
  // }
}


/* ------------------------------------menu page below------------------------------------------------------- */
.page-intro {
  display: flex;
  flex-direction: row;
  // height: 120px;
  // margin-top: 20px;
  align-items: center;
  justify-content: center;
  position: sticky;
  top: 0;
  background-color: $background_green;

  h1 {
    margin: 0;
  }

  h3 {
    margin: 0;
  }
}

.intro-content {
  display: flex;
  flex-direction: column;
  // height: 100px;
  margin-bottom: 15px;
  margin-top: 15px;
  width: 60%;
  justify-content: center;
}

.menu-categories {
  display: flex;
  flex-direction:row;
  justify-content: space-between;
  pointer-events: none;

  h3 {
    font-size: 28px;
    pointer-events: auto;
    &:hover {
      text-decoration: underline;
      text-decoration-color: $navbar_accent_green;
      cursor: grab;
    }
  }
}

.menu-items-container {
  width: 100%;
  // display: grid;
  // grid-template-columns: 21% 21% 21% 21%;
  // gap: 60px;
  display: flex;
  flex-wrap: wrap;
  gap: 65px;
  margin-bottom: 60px;
  scroll-margin-top: 80px;

}

/* ------------------------------------menu page above ------------------------------------------------------- */
