@import "colors";

/* SMALL SLIDER */
// ----------------------------------------stack slider images and activate first image --------------------------------------------------

.slider {
  width: 300px;
  height: 300px;
  position: relative;

  img {
    position: absolute;
    top: 0;
    left: 0;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    height: 300px;
    width: 100%;
    object-fit: cover;

  }
}


.slider img:first-child {
  z-index: 1;
}

.slider img:nth-child(4) {
  z-index: 0;
}


// ----------------------------------------navigation dots--------------------------------------------------
.navigation-button {
  text-align: center;
  position: relative;
  bottom: 10%;
  z-index: 2;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}

.active,
.dot:hover {
  background-color: #717171;
}

/* BIG SLIDER */

.big-active {
  border-style: solid;
  border-color: $logo-red;
}

#back-invitation {
  &:hover {
    cursor: pointer;
  }
}

// position modal
#menu-item-modal {
  position: fixed;
  top: 56%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 20;
}

// background when modal is in effect
#overlay {
  position: fixed;
  opacity: 0;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  pointer-events: none;
  z-index: 10;
  pointer-events: none;
}

#overlay.active {
  opacity: 1;
}
